<% templates = ReportTemplateProperties.all.where(plugin_name: :html_export).order(:title) %>

<%= content_tag :div, id: 'plugin-html_export', class: 'tab-pane fade' do %>
  <%= form_tag project_export_manager_path(current_project), target: '_blank' do %>
    <%= hidden_field_tag :plugin, :html_export %>
    <%= hidden_field_tag :route, :root %>

    <% if templates.count == 0 %>
      <p>
        There are no templates available for this plugin.
        <%= link_to 'Manage your report templates', admin_templates_reports_path %>.
      </p>
    <% else %>
      <% if templates.count == 1 %>
        <%= hidden_field_tag :template, templates.first.template_file %>
        <h4 class="header-underline">Template</h4>
        <p>
          There is only one <%= link_to 'report template', admin_templates_reports_path, data: { turbolinks: false } %> available for this plugin:
          <code><%= templates.first.title %> - <small><%= templates.first.template_file %></small></code>
        </p>
      <% else %>
        <h4 class="header-underline">Choose a template</h4>
        <p>Please choose one of the <%= link_to 'report templates', admin_templates_reports_path, data: { turbolinks: false } %> available for this plugin:</p>

        <% templates.each do |template| %>
          <div class="custom-control custom-radio">
            <% selected = rtp == template || template == templates.first %>
            <%= radio_button_tag :template, template.template_file, selected, class: 'custom-control-input' %>
            <%= label_tag "template_#{template.template_file}", class: 'custom-control-label' do %>
              <%= template.title %> - <small><%= template.template_file %></small>
            <% end %>
          </div>
        <% end %>
      <% end %>

      <div class="mt-4">
      <button id="export-button" class="js-export-button btn btn-lg btn-primary" data-action="<%= project_export_manager_path(current_project) %>">Export</button>
      </div>
    <% end %>
  <% end %>
<% end%>
