<%
  plugin_name = Dradis::Plugins::HtmlExport::Engine.plugin_name
  templates_dir = File.join(
    ::Configuration::paths_templates_reports,
    Dradis::Plugins::HtmlExport::Engine.plugin_name.to_s
  )
  templates = Dir["%s/*" % templates_dir].map { |t| File.basename(t) }.sort
%>

<%= content_tag :div, id: "plugin-#{plugin_name}", class: 'tab-pane fade' do %>
  <%= form_tag project_export_manager_path(current_project), target: '_blank' do %>
    <%= hidden_field_tag :plugin, plugin_name %>
    <%= hidden_field_tag :route, :root %>

    <h4 class="header-underline">Choose a template</h4>
    <p>Please choose one of the templates available for this plugin (find them in <code>.<%= templates_dir[Rails.root.to_s.length..-1] %></code>)</p>

    <% templates.each do |template| %>
      <div class="custom-control custom-radio">
        <%= radio_button_tag :template, template, template == templates.first, :class => 'custom-control-input' %>
        <label class="custom-control-label" for="template_<%= template %>"><%= template %></label>
      </div>
    <% end %>

    <button id="export-button" class="btn btn-lg btn-primary mt-4">Export</button>
  <% end %>
<% end%>
